<h1>add sticker:</h1>
<form id="new-sticker" action="#">
  <div>
    <label for="title">Title: </label> <input id="title" type="text" />
    <label for="description">Description: </label> <input id="description" type="text" />
       
    <button type="submit" value="add" id="add">add</button>
  </div>
</form>

<input id="toggle-all" type="checkbox">
<label for="toggle-all">Mark all as complete</label>
<ul id="sticker-list"></ul>