<div class="stickers__item" data-id="{{id}}">
  <div class="stickers__item__close">
    {{#if is_admin }}<a href="#" class="destroy"><i class="fa fa-times" aria-hidden="true"></i></a>{{/if}}
  </div>  
  <div class="stickers__item__title label">{{title}}</div>
    <div class="stickers__item__description">{{description}}</div>
    <div class="stickers__item__like">
    <a href="#" class="like{{#if liked }} liked{{/if}}">
      <i class="fa fa-heart{{#unless liked }}-o{{/unless}}" aria-hidden="true"></i> <span>{{likes}}</span>
    </a>
 </div>
</div>