<div class="stickers__item" data-id="{{id}}">
  <div class="stickers__item__close">
    <a href="#" class="destroy">X</a>
  </div>  
  <div class="stickers__item__title">{{title}}</div>
    <div class="stickers__item__description">{{description}}</div>
    <div class="stickers__item__like">
    <a href="#" class="like{{#if liked }} liked{{/if}}">like (<span>{{likes}}</span>)</a>
 </div>
</div>