.stickers {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: #f5f5f5;
  padding: 15px;
  font-size: 12px;
}

.stickers:after {
  content: "";
  display: block;
  clear: both;
}

.stickers__item {
  width: 150px;
  height: 120px;
  border: 1px solid #222;
  background-color: #d5e8fb;
  padding: 10px;
  margin: 10px;
  position: relative;
  float: left;
}

.stickers__item a {
  color: #222;
}

.stickers__item a:hover {
  color: #555;
  text-decoration: none;
}

.stickers__item__title {
  height: 20px;
  font-size: 14px;
  overflow: hidden;
}

.stickers__item__close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.stickers__item__description {
  background-color: #fff;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 6px;
  height: 60px;
  overflow: hidden;
}

.stickers__item__like {
  float: right;
}

.liked {
  font-weight: bold;
}