<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Backbone-stickers</title>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <meta name="csrf-token" content="{{csrfToken}}">
  <style> body:after { background-image: url(i/bg.png); } </style>
</head>
<body>
  <section class="wrapper" id="todoapp">
    <header id="header"></header>
    <section class="content" id="main"></section>
    <footer class="footer" id="footer"></footer>
  </section>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/handlebars/handlebars.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
  <script src="bower_components/backbone.marionette/lib/backbone.marionette.min.js"></script>
  <script src="bower_components/backbone.radio/build/backbone.radio.js"></script>

  <script src="js/main.js"></script>
</body>
</html>