<div class="social">
  <a href="https://github.com/exportdefault/backbone-stickers" class="black" target="_blank"><i class="fa fa-github-alt"></i> <u>Star</u></a>
  <span class="small" id="github-counter"></span>
</div>
<div class="copyright">
  Powered by <a href="#">Express</a> &amp; <a href="#">Backbone</a>.<a href="#">MarionetteJS</a>  | <span class="js-now-year">2016</span>
</div>