<div class="header-wrap">
  <div class="header">
    <ul id="menu" class="menu">
      <li class="li logo"><a href="#" class="black"><strong><i class="fa fa-simplybuilt" aria-hidden="true"></i> Backbone-stickers</strong></a></li>
      <li class="li"><a href="#stickers"><u>Stickers</u></a></li>
      <li class="li"><a href="#about"><u>About</u></a></li>
      <li class="li right">{{#if logged_in }} Hello, <b>{{username}}</b> <a href="#logout"><u>Logout</u></a>{{else}}
      <a href="#login"><u>Login</u></a>{{/if}}</li>
    </ul>
  </div>
</div>